body {
    font-family: Arial, sans-serif;
    background-color: #111111;
    color: #CCCCCC;
}

code {
    /* Applies to both inline and block code unless overridden by specific selectors */
    padding: 0 0.2rem;              /* Slight padding around inilne code */
}

code span.line {
    display: block;                 /* Each line becomes a block */
    counter-increment: line;
    padding: 0 .75rem;              /* Padding on each line for text alignment */
    line-height: .75;
}

code span.line::before {
    content: counter(line);         /* Inserts the line number */
    position: absolute;
    left: 0;
    width: 2rem;                    /* Adjust the width as needed */
    text-align: right;
    color: #888;
}

h1, h2 {
    color: #AAAAAA;
}

pre {
    position: relative;
    padding-left: 3rem;             /* Increase space for line numbers if needed */
    counter-reset: line;
    border: 1px solid #ccc;
    overflow: auto;                 /* Make sure it scrolls horizontally if the content is too wide */
    white-space: pre-wrap;          /* Ensures that the code wraps */
    word-wrap: break-word;          /* Ensures words do not overflow their container */
}

pre code {
    display: block;                 /* Ensures that the code behaves like a block */
    padding-top: 1.5rem;            /* Adds padding inside the code element */
    padding: 0.75rem;               /* Uniform padding for better alignment and readability */
    line-height: 1.6;               /* Increased line height for better readability */
    white-space: pre;
    word-wrap: break-word;          /* Ensures words do not overflow their container */
}

table {
    margin: 1rem;
}

td, th {
    border-width: 0.07rem;
    border-style: solid;
    padding: 0.75rem;
}

.abs-center {
    margin: 0 auto;
}

.answer-form {
    margin-bottom: 3rem;
}

.canvas-container {
    max-width: 400px;
    max-height: 400px;
    margin: 0 auto;
}

.dot {
    position: absolute;
    bottom: -20px;              /* Start below container */
    background-color: white;    /* Color of dots */
    border-radius: 50%;
    width: 10px;
    height: 10px;
    opacity: 0.6;
    animation: riseUp 5s infinite ease-in;
}

.error {
    color: red;
    margin-bottom: 1rem;
}

.form-container {
    margin: 0 auto;
    max-width: 90rem;
    min-width: 10rem;
    padding: 6rem;
}

.instructions {
    font-size: 0.75rem;
    font-weight: bold;
    margin-bottom: 0.25rem;
}

.question {
    display: block;
    font-size: 1.5rem;
    padding-bottom: 2rem;
}

.selection {
    margin: 0 auto;
    width: 100%;
    border-radius: 1rem;
    border-width: 0.1rem;
    border-color: #444444;
    border-style: solid;
    box-sizing: border-box;
    padding: 3rem;
    cursor: pointer;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.25rem;
}

.selection.checked {
    background-color: rgba(255, 255, 255, 0.1);
}

.selection input {
    margin-right: 3rem;
}

.selection input[type="checkbox"],
.selection input[type="radio"] {
    display: none;
}

.selection label {
    position: relative;
    padding-left: 3rem;
    cursor: pointer;
    flex-grow: 1;
}

.selection input[type="checkbox"] + label:before,
.selection input[type="radio"] + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 1rem;
    height: 1rem;
    border: 0.1rem solid #DDD;
    background-color: #FFF;
    border-radius: 50%;
    transition: background-color 0.4s, border-color 0.4s; /* Animate background and border color changes */
    transform: translateY(-50%);
}

.selection input[type="radio"]:checked + label:before,
.selection input[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    width: 1rem;
    height: 1rem;
    border: 0.2rem solid #DDD; /* Make border thicker for visibility */
    background-color: #FFF;
    border-radius: 50%;
    transition: border-color 0.4s, box-shadow 0.4s; /* Only transition border-color and box-shadow */
    box-shadow: inset 0 0 0 0.3rem #FFF; /* Inner white circle, adjust as necessary */
    transition: border-color 0.4s, box-shadow 0.4s;
}

.selection input[type="checkbox"]:checked + label:before,
.selection input[type="radio"]:checked + label:before {
    background-color: transparent;
    border-color: lightgreen;
    top: 50%;
    transform: translateY(-50%);
}

.selection label:hover:before {
    border-color: #CCC;
}

.submitting-area {
    margin-top: 2rem;
}

.submitting-area button {
    padding: 0.5rem 1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 0.2rem;
    cursor: pointer;
    width: 100%;
    padding-top: 1rem;
    height: 6rem;
    font-size: 2rem;
}

.submitting-area button:disabled {
    background-color: #E0E0E0;
    color: #9E9E9E;
    cursor: not-allowed;
}

.submitting-area select {
    margin-bottom: 2rem;
    width: 80%;
}

.submitting-area button:hover {
    background-color: #45A049;
}

.submitting-area button:disabled:hover {
    background-color: #E0E0E0;
}

#loading_spinner {
    position: relative;
    height: 100px;
    width: 100%;
    overflow: visible;
}

@keyframes riseUp {
    0% {
        bottom: -20px;
        opacity: 1;
    }
    50% {
        bottom: 60%;
        opacity: 0.5;
    }
    90% {
        bottom: 100%;
        opacity: 0.1;
    }
    100% {
        bottom: 120%;
        opacity: 0;
    }
}

/* Override style for mobile devices */
@media (max-width: 768px) {
    .form-container {
        padding: 1rem;
        padding-top: 0;
    }

    .instructions {
        font-size: 1.25rem;
    }

    .question {
        font-size: 1.25rem;
        margin-top: 1rem;
        padding-bottom: 0;
    }

    .selection, .submitting-area button, select {
        margin: 0;
        padding: 1rem;
    }

    .selection {
        overflow-y: scroll;
    }
}