<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ quiz_title }} ({{ session['questions_left'] }}/{{ session['sum_questions'] }})</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="http://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            $(document).ready(function() {
                // Function to update the state of the submit button
                function updateSubmitButtonState() {
                    var numRequired = {{ num_select }};
                    var currentSelections = 0;
                    if ($('input[type="checkbox"]').length > 0) {
                        // Count only checked checkboxes if they exist
                        currentSelections = $('input[type="checkbox"]:checked').length;
                        $('button[type="submit"]').prop('disabled', currentSelections !== numRequired);
                    } else if ($('input[type="radio"]').length > 0) {
                        // Check if any radio is selected
                        $('button[type="submit"]').prop('disabled', $('input[type="radio"]:checked').length === 0);
                    }
                }

                updateSubmitButtonState();

                // When a radio button changes
                $('.selection input[type="radio"]').change(function() {
                    // Unhighlight all selections in the same group
                    $('input[name="' + $(this).attr('name') + '"]').each(function() {
                        $(this).closest('.selection').removeClass('checked');
                    });

                    // Highlight this selection
                    if (this.checked) {
                        $(this).closest('.selection').addClass('checked');
                    }
                    updateSubmitButtonState();
                });

                // When a checkbox changes
                $('.selection input[type="checkbox"]').change(function() {
                    // Toggle the 'checked' class for this checkbox's selection
                    $(this).closest('.selection').toggleClass('checked', this.checked);
                    updateSubmitButtonState();
                });

                $('.selection').on('click touchstart', function(event) {
                    // Prevent default to avoid any native behavior that might conflict with the script
                    event.preventDefault();
                    
                    // Find the input within this .selection and toggle its state
                    var input = $(this).find('input');
                    if (
                        event.target.type !== 'checkbox' && 
                        event.target.type !== 'radio' &&
                        event.target.tagName !== 'LABEL'
                    ) {
                        input.trigger('click');
                    }
                });
            });
        </script>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                var preElements = document.getElementsByTagName("pre");

                for (var i = 0; i < preElements.length; i++) {
                    var code = preElements[i].getElementsByTagName("code")[0];
                    var lines = code.textContent.split('\n');
                    var newCode = '';
                    for (var j = 0; j < lines.length; j++) {
                        // Only add non-empty lines to avoid extra empty spans
                        if (lines[j].trim() !== '') {
                            newCode += '<span class="line">' + lines[j] + '</span>\n';
                        }
                    }
                    code.innerHTML = newCode;
                }
            });
        </script>
    </head>
    <body>
        <div class="form-container">
            {% if session['feedback'] %}
            <div class="instructions">
                ({{ session['questions_left'] }}/{{ session['sum_questions'] }})
                <h1>
                    {{ session['got_question'] }}
                </h1>
                <div class="{{ session['feedback_class'] }}">{{ session['feedback'] }}</div>
                <ul>
                    {% for answer in session['correct_options'] %}
                        <li>
                            {{ answer|safe }}
                        </li>
                    {% endfor %}
                </ul>
                {% if session['ai_feedback'] %}
                <p>
                    {{ session['ai_feedback'] }}
                </p>
                {% endif %}
            </div>
                <form action="{{ url_for('quiz') }}" method="post">
                    <div class="submitting-area">
                        <button type="submit" name="next" value="1">Next Question</button>
                    </div>
                </form>
            {% else %}
                <div class="question">
                    {{ question.text|safe }}
                    {% if question.has_matrix %}
                        <table>
                            <thead>
                                <tr>
                                    <th></th>
                                    {% for header in question.matrix.header %}
                                        <th>{{ header }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for record in question.matrix.records %}
                                <tr>
                                    <td>{{ record['name'] }}</td>
                                    {% for field in question.matrix.header %}
                                    <td>{{ record[field] }}</td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
                <div class="instructions">
                    ({{ session['questions_left'] }}/{{ session['sum_questions'] }}) <br />
                    Select {{ num_select }} choice{% if num_select > 1 %}s{% endif %}:
                </div>
                <div class="answer-form">
                    <form id="quizForm" action="{{ url_for('quiz') }}" method="post">
                        {% for option in question.options %}
                            <div class="selection">
                                {% if num_select > 1 %}
                                    <input type="checkbox" id="{{ loop.index }}" name="answer" value="{{ option.plaintext }}">
                                {% else %}
                                    <input type="radio" id="{{ loop.index }}" name="answer" value="{{ option.plaintext }}">
                                {% endif %}
                                <label for="{{ loop.index }}">{{ option.text|safe }}</label><br>
                            </div>
                        {% endfor %}
                        <div class="submitting-area">
                            <button type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            {% endif %}
        </div>
    </body>
</html>